p.extensible-search.notification {
	padding: 5px;
	background: #FFA84C;
	background: -o-linear-gradient(top, #FFA84C, #FF7B0D);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr = '#FFA84C', endColorStr = '#FF7B0D');
	background: -ms-linear-gradient(top, #FFA84C, #FF7B0D);
	background: -moz-linear-gradient(top, #FFA84C, #FF7B0D);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFA84C), color-stop(100%, #FF7B0D));
	background: -webkit-linear-gradient(top, #FFA84C, #FF7B0D);
	border: 1px solid #FF7400;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
